{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "arrayElementNewline": "consistent",
  "bracketSameLine": false
}